.form-container {
    background-color: rgb(14, 14, 14); /* Slightly lighter than the page background */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 10px 20px 0 rgb(10, 10, 10); /* Subtle shadow for depth */
    border: 0.1px solid rgb(28, 28, 28); /* Slightly lighter border for subtle definition */
  }
  

