.drawioGrid {
    background-image:
    repeating-linear-gradient(#ccc 0 3px, transparent 3px 100%),
    repeating-linear-gradient(90deg, #ccc 0 3px, transparent 3px 100%);
  background-size: 71px 71px;
  background-color: rgb(255, 251, 255);
  }
  